.main-screen-loader-conatiner {
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.main-screen-loader-conatiner::-webkit-scrollbar {
  display: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 5px;
  position: absolute;
  text-indent: -9999em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 1.1em solid rgb(170 132 132 / 20%);
  border-right: 1.1em solid rgb(170 132 132 / 20%);
  border-bottom: 1.1em solid rgb(170 132 132 / 20%);
  border-left: 1.1em solid black;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
